@page "/chart"
<h3>Thống kê cho sinh viên</h3>

@using AntDesign.Charts
@using Title = AntDesign.Charts.Title

    <Tabs>
    <TabPane Key="1">
        <TabTemplate>示例1</TabTemplate>
        <ChildContent>
            <AntDesign.Charts.Column Data="data1" Config="config1" />
        </ChildContent>
    </TabPane>

        <TabPane Key="2">
            <TabTemplate>Tab2</TabTemplate>
            <ChildContent>
                <Histogram Data="data2" Config="config2" />
            </ChildContent>
        </TabPane>
    </Tabs>

